step-functions/hello-world.yml
---
Comment: A Hello World example demonstrating various state types of the Amazon States
  Language. It is composed of flow control states only, so it does not need resources
  to run.
StartAt: Pass
States:
  Pass:
    Comment: A Pass state passes its input to its output, without performing work.
      They can also generate static JSON output, or transform JSON input using filters
      and pass the transformed data to the next state. Pass states are useful when
      constructing and debugging state machines.
    Type: Pass
    Result:
      IsHelloWorldExample: true
    Next: Hello World example?
  Hello World example?:
    Comment: A Choice state adds branching logic to a state machine. Choice rules
      can implement many different comparison operators, and rules can be combined
      using And, Or, and Not
    Type: Choice
    Choices:
    - Variable: "$.IsHelloWorldExample"
      BooleanEquals: true
      Next: 'Yes'
    - Variable: "$.IsHelloWorldExample"
      BooleanEquals: false
      Next: 'No'
    Default: 'Yes'
  'Yes':
    Type: Pass
    Next: Wait 3 sec
  'No':
    Type: Fail
    Cause: Not Hello World
  Wait 3 sec:
    Comment: A Wait state delays the state machine from continuing for a specified
      time.
    Type: Wait
    Seconds: 3
    Next: Parallel State
  Parallel State:
    Comment: A Parallel state can be used to create parallel branches of execution
      in your state machine.
    Type: Parallel
    Next: Hello World
    Branches:
    - StartAt: Hello
      States:
        Hello:
          Type: Pass
          End: true
    - StartAt: World
      States:
        World:
          Type: Pass
          End: true
  Hello World:
    Type: Pass
    End: true
