step-functions/star-trek/flow.yml
{
  "Comment": "Detecting Faces",
  "StartAt": "Parse S3 Event",
  "States": {
    "Parse S3 Event": {
      "Type": "Pass",
      "ResultPath": "$.payload",
      "Result": {
        "bucket.$": "$.input.detail.bucket.name",
        "key.$": "$.input.detail.object.key"
      },
      "Next": "Detect Faces"
    },
    "Detect Faces": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectFaces",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.payload.bucket",
            "Name.$": "$.payload.key"
          }
        }
      },
      "End": true
    }
  }
}


{
  "Comment": "A simple AWS Step Functions state machine that triggers Rekognition to detect faces in an image uploaded to S3.",
  "StartAt": "Parse S3 Event",
  "States": {
    "Parse S3 Event": {
      "Type": "Pass",
      "ResultPath": "$.payload",
      "Parameters": {
        "bucket.$": "$.input.detail.bucket.name",
        "key.$": "$.input.detail.object.key"
      },
      "Next": "Detect Faces"
    },
    "Detect Faces": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectFaces",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.payload.bucket",
            "Name.$": "$.payload.key"
          }
        }
      },
      "End": true
    }
  }
}